* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

a{
    text-decoration: none;
}

body { 
    background: #F6F8FA;
}

/* Leftmenu */
.leftmenu {
    position: absolute;
    width: 268px;
    height: 920px;
    left: 0px;
    top: -1px;

    background: #FFFFFF;
    box-shadow: 0px 16px 40px rgba(154, 170, 207, 0.2);

    padding: 25px 30px;
}


/* usuario */
.name{
   margin-top: 10px;
   margin-left: 30px;
}
.usuario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
   
}

.usuario .material-symbols-rounded {
    color: #FBC400;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    line-height: 45px;
    font-size: 50px;
    margin-left: -45px;
    margin-bottom: 10px;

}

.nameusuario h1{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-left: 10px;

    color: #000000;
}

.nameusuario p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 20px;
    margin-left: 20px;
    

    color: #000000;
}



/* my music start*/
.sidenav{
    position: absolute;
    width: 62px;
    height: 18px;
    left: 27px;
    top: 110px;
    margin-top: 50px;
}

.sidenav p {
    margin-bottom: 20px;
    height: 18px;
    width: 100px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #9AAACF;

}

/* sidemenu hover */
.sidenav span:hover{
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10.6667px;
    gap: 8.89px;

    transition: .3s;
    border-radius: 7.11111px;
    background-color: #9aaacf55;
}

/* Mixes and radio */
.mixesandradio {
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10.6667px;
    gap: 8.89px;

    border-radius: 7.11111px;
}

.mixesandradio a {
    width: 163.44px;
    height: 22px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14.0769px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;

    color: #000000;
}

.material-symbols-rounded {
    color: #000000;
}


/* albums */
.albums {
    width: 200px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10.6667px;
    gap: 8.89px;

    border-radius: 7.11111px;
}


.albums a {
    width: 163.44px;
    height: 22px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14.0769px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;

    color: #000000;
}

/* tracks */
.tracks {
    width: 200px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10.6667px;
    gap: 8.89px;

    border-radius: 7.11111px;
}


.tracks a {
    width: 163.44px;
    height: 22px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14.0769px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;

    color: #000000;
}

/* videos */
.videos {
    width: 200px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10.6667px;
    gap: 8.89px;

    border-radius: 7.11111px;
}


.videos a {
    width: 163.44px;
    height: 22px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14.0769px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;

    color: #000000;
}

/* artist */
.artist {
    width: 200px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10.6667px;
    gap: 8.89px;

    border-radius: 7.11111px;
}


.artist a {
    width: 163.44px;
    height: 22px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14.0769px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;

    color: #000000;
}


/* Reproductor de musica */
.reproductordemusica {
    position: absolute;
    width: 229px;
    height: 310px;
    left: 21px;
    top: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: #FFFFFF;
    box-shadow: 0px 8.94303px 22.3576px rgba(154, 170, 207, 0.2);
    border-radius: 9.2929px;

}

/* album imagen */
.reproductordemusica img{
    border-radius: 5.86772px;
}

/* cosas que van debajo */
.reproductordemusica h1{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;

    color: #000000;
}

.reproductordemusica p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
    

    color: #000000;
}

/* controles */
.playercontrols {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 11.78px;

}

.aleatorio .material-symbols-rounded{
   
    text-align: center;
    line-height: 45px;
    line-height: 45px;
    font-size: 20px;
    color: #9AAACF;
   
}

.material-symbols-rounded{
   
    text-align: center;
    line-height: 45px;
    line-height: 45px;
    font-size: 20px;
    color: #000000;
   
}

.repetir .material-symbols-rounded{
    text-align: center;
    line-height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #000000;
}


.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.progresscontainerbottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 10px;
}

.progressbarbottom {
    height: 4px;
    border-radius: 10px;
    width: 150px;
    background-color: rgba(154, 170, 207, 0.22);
}

.progressbottom {
    position: relative;
    height: 100%;
    width: 40%;
    border-radius: 10px;
    background-color: black;
}

.progresscontainerbottom span{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
    line-height: 20px;

    color: rgba(154, 170, 207, 0.56);
}


.generalinfo{
    position: absolute;
    width: 268px;
    height: 850px;
    left: 25%;
    top: -1px;
    margin-top: 40px;

}

.generalinfo h1{
    font-family: 'Quicksand';
    font-style: normal;
    width: 300px;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 5;

    color: #000000;
}

.generalinfo h2{
    font-family: 'Quicksand';
    font-style: normal;
    width: 300px;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 30px;

    color: #000000;
}

.box{
    position: absolute;
    width: 268px;
    height: 850px;
    left: 25%;
    top: -1px;
    margin-top: 130px;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"]{
   display: block;
   box-sizing: border-box;
   background: none;
   color: #9AAACF;
   margin-bottom: 10px;
   padding: 10px;
   width: 500px;
   height: 50px;
   border: 1px solid #9AAACF;
   border-radius: 5px;
   font-family: 'Quicksand';
   font-style: normal;
   font-size: 20px;
   color: #000000;
}

.box button{
    font-family: 'Quicksand';
    font-style: normal;
    margin-top: 10px;
    background: rgba(182, 198, 237, 0.14);
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    color: #9AAACF;
    font-size: 18px;
}

.box button a{

    text-decoration: none;
    color: #9AAACF;
    

}

.box h1{
    font-family: 'Quicksand';
    font-style: normal;
    width: 300px;
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 10px;

    color: #9AAACF;
}

